#
# Files to be ignored by Docker: these will not be part of the
# build context.
#

.git
fetched/
fetched-*/
logs/
shibboleth-idp/
shibboleth-idp-*/
saved-*/

#
# Only copy the packaged form of any overlays into the build context.
#
overlay/*
!overlay/*.tar

#
# End.
#
