CONFIG
fetched/
fetched-*/
jetty-dist/
logs/*/
*~
shibboleth-idp/
shibboleth-idp-*/
saved-*/

*.tmp

#
# The overlay directory is ignored, except for
# documentation.
overlay/*
!overlay/*.md

#
# End.
#
